{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/attendease/mark_attendance.css' %}" />
{% endblock %}
<!-- {% load crispy_forms_tags %} -->
{% block main %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="attendance-detail-wrap">
            <div class="heading pb-4 text-center">
                <h3>Attendance Detail</h3>
            </div>
            <div class="">
                
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
{% endblock %}